#kupfer {
    background: rgba(255,255,255,0.4);
}

.matchview {
    border-radius: 25px;
}

#kupfer-preedit {
}

#kupfer-object-pane {
}

#kupfer-action-pane {
}

#kupfer-indirect-object-pane {
}

#kupfer-list {
}

#kupfer-list-view {
}

*:selected .matchview {
    font-size: 25px;
    background: rgba(0,0,0,0.5);
}
